* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
}

#root {
  /*background: lightblue;
  */
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: 0;
  border-radius:3;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  color:white;
  opacity:'0.8';
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*cursor:;
  url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
  */
}

#root > .damnAnimations {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > #animation1 > #animation2 {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  /* box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3); */
}

img {
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button[aria-label="previous"],
button[aria-label="next"] {
  background: salmon !important;
  color: black !important;
}

#matchName, #matchAge {
  display: inline-block;
  margin-right: 10px;
}

#matchName:nth-of-type(2), #matchAge:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

#matchDistance, #matchText {
  margin-top: -15px;
  margin-left: 2px;
  color: lightgray;
}
#matchDistance:last-of-type {
  color: darkgray;
}

#matchCards > div {
  height: 380px !important;
}

.matchCard {
  height: 500px !important;
}

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}