#personal {
  margin-left: 60px;
  margin-top: -15px;
}
#title {
  color: rgba(0, 0, 0, 0.63);
  margin-bottom: -15px;
}

#int1 {
  margin-top: 10px !important;
  color: black !important;
  font-size: 14px !important;
}
#int2 {
  margin-top: 10px !important;
  color: black !important;
  font-size: 14px !important;
}
#int3 {
  margin-top: 10px !important;
  color: black !important;
  font-size: 14px !important;
}
