#container {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: 0;
  border-Radius: 3;
  box-Shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  opacity: '0.8';
  padding: 26px;
  height: 100vh;
}
#formContainer {
  background-color: whitesmoke;
  width: 300px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  overflow: scroll;
}
#bio  {
  height: 100px;
  margin-bottom: 5px;
  color: black;
  margin: 0 auto;
  position: center;
}
#dateOfBirth {
  margin-top: 0;
}
#radioButtons {
  color: black;
  font-size: 10px;
}
#skillInterests {
  margin-top: 0;
}
#personalInterests {
  margin-top: 0px;
}

#phoneNumber {
  margin-top: 1px
}

#form-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 57px;
  margin-left: -17px;
}
#greeting {
  margin-top: -25px;
  margin-left: 30px;
  font-size: 30px;
}