#root {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: 0;
  border-radius:3;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  color: white;
  opacity:'0.8';
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: center;
}
/* .MuiFormControl-root {
   background-color: whitesmoke;
}
.MuiGrid {
    background-color: whitesmoke;
} */
#logContainer {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 10px;
    margin-top: 25%;
    height: 280px;
    width: 80%;
    opacity: 0.88;
    border-radius: 30px;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

  #hrsWorked {
      margin: 0 auto;
      width: 200px;
      height: auto;
      border-radius: 30px;
      display: flex;
      position: center;
}

  #date {
      opacity: 0.8;
      width: 220px;
      margin: 0 auto;
      width: 200px;
      height: auto;
      display: flex;
      position: center;
      margin-top: 50px;
      opacity: 1
  }
  #submit {
    /* margin: auto; */
    /* align-content: center;
    align-items: center;
    justify-content: center; */
    padding: 10px;
    margin-left: 30%;
    display: flex;
    position: center;
}